<a href="https://colab.research.google.com/github/danilo-prado/ML_HouseSales/blob/main/MachineLearning_HouseSales.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **IMPORTS**

In [2]:
import pandas as pd
import numpy as np

from sklearn import linear_model as lm

# **LOADING DATA**

In [11]:
df_raw = pd.read_csv('kc_house_data.csv')

In [10]:
df_raw.head()

           id             date     price  ...     long  sqft_living15  sqft_lot15
0  7129300520  20141013T000000  221900.0  ... -122.257           1340        5650
1  6414100192  20141209T000000  538000.0  ... -122.319           1690        7639
2  5631500400  20150225T000000  180000.0  ... -122.233           2720        8062
3  2487200875  20141209T000000  604000.0  ... -122.393           1360        5000
4  1954400510  20150218T000000  510000.0  ... -122.045           1800        7503

[5 rows x 21 columns]

# **DATA PREPARATION**

In [12]:
# FEATURES
x_train = df_raw.drop( ['price', 'date', ], axis=1 )

# RESPONSE VARIABLE
y_train = df_raw[ 'price' ].copy()

# **MODEL TRAINING**

In [13]:
# MODEL DESCRIPTION
model_lr = lm.LinearRegression()

# MODEL TRAINING
model_lr.fit( x_train, y_train )

LinearRegression()

In [14]:
# PREDICTION
pred = model_lr.predict( x_train)

# **PERFORMANCE METRICS**

In [15]:
df1 = df_raw.copy()

In [16]:
df1['prediction'] = pred

In [19]:
df1[['id','price','prediction', 'error','error_abs', 'error_perc', 'error_perc_abs']].head()

           id     price  ...  error_perc  error_perc_abs
0  7129300520  221900.0  ...    0.072707        0.072707
1  6414100192  538000.0  ...   -0.359144        0.359144
2  5631500400  180000.0  ...   -1.106099        1.106099
3  2487200875  604000.0  ...    0.242675        0.242675
4  1954400510  510000.0  ...    0.127865        0.127865

[5 rows x 7 columns]

In [18]:
# ERROR
df1['error'] = df1['price'] - df1['prediction']

# ABSOLUT ERROR
df1['error_abs'] = np.abs( df1['error'])

# PERCENTAGE ERROR
df1['error_perc'] = ((df1['price'] - df1['prediction']) / df1['price'] )

# ABSOLUTE PERCENTAGE ERROR
df1['error_perc_abs'] = np.abs( df1['error_perc'])

In [20]:
# MEAN ABSOLUT ERROR
mae = np.mean( df1['error_abs'])
print('MAE: {}'.format(mae))

MAE: 125921.54419398609

In [21]:
# MEAN ABSOLUTE PERCENTAGE ERROR
mape = np.mean( df1['error_perc_abs'])
print('MAPE: {}'.format(mape))

MAPE: 0.25580512536186956